<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Types</title>
</head>
<body>
    <ul>
		
        <li><strong>Mummy</strong></li>
        
        <li><em>Papa</em></li>
        
        <li><sub>Dhanu</sub></li>
        
        <li><sup>Tina</sup></li>

        <li><normal>Monu</normal></li>
        
        <li><ins>Pari</ins></li>
        
    </ul>
    
    <hr>	
    
    <ol type="a">
    
        <li><strong>Rob</strong></li>
        
        <li><em>Kirsten</em></li>
        
        <li><del>Tommy</del></li>
        
        <li><ins>Ralphie</ins></li>
    
    </ol>
    
    <hr>

    <p><a href="/">Back</a></p>
</body>
</html>